.root {
   -fx-base: #e2deda;
   -fx-darker: derive(#e2deda, -20%);
   -fx-lighter: derive(#e2deda, +20%);
  -fx-background-image: url("../coriolis/background.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
  recommendation: #00C000;
  textcolor-warning: red;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.navigation-view-title > .label{
    -fx-text-fill: white;
}

/*******************************
 * Character Document
 *******************************/
.character-document-view-grid {
   -fx-background-color: transparent;
}
.character-document-view-scroll {
   -fx-background-color: transparent;
}
.character-document-view-section-content {
  -fx-background-color: lightgrey; 
}
.character-document-view-layout {
}
.DISABLE_character-document-view-buffer-left {
   -fx-min-width: 3em;
   -fx-background-color: orange;
}
.DISABLE_character-document-view-buffer-right {
   -fx-min-width: 3em;
   -fx-background-color: orange;
}

/** Section title */
.character-document-view-title {
  -fx-background-image: url("../coriolis/header_background.png");
  -fx-text-fill: white;
  -fx-font-size: 200%;
  -fx-background-size: cover;
  -fx-padding: 0.5em;
  -fx-max-width: infinity;
}

.character-document-view-todos {
  -fx-max-width: 8em;
}
.character-document-view-content {
  -fx-background-color: -fx-base;
  -fx-border-width: 1px;
  -fx-border-color: -fx-darker;
}
.character-document-view-description {
  -fx-background-color: transparent;
  -fx-padding: 0.2em;
  -fx-max-width: 20em;
  -fx-min-width: 15em;
}
.description-text {
  -fx-background-color: rgba(255, 255, 255, 0.7);
  -fx-background-radius: 20;
  -fx-border-radius: 20;
  -fx-border-width:3;
  -fx-padding: 0.5em;
  -fx-border-color: transparent;
}
#coriolis-development .character-document-view-description {
  -fx-max-width: 30em;
  -fx-min-width: 15em;
}
#coriolis-development .description-text {
  -fx-max-width: 30em;
}

.command-bar {
  -fx-background-color: transparent;
  -fx-border-color: white;
}
.command-bar .label{
  -fx-text-fill: white;
}
.navigation-view-heading-line .label {
  -fx-text-fill: white;
}

.history-element {
    -fx-background-color: red;
}
.settings-and-commandbar {
    -fx-background-color: transparent;
    -fx-border-style: none none solid none;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: -fx-base;
    -fx-padding: 0 0.5em 0 0.5em;
}

.settings-and-commandbar .button {
	-fx-background-color: rgba(0,0,0, 0.2);
    -fx-text-fill: white;
	-fx-border-width: 2px;
	-fx-border-color: transparent;
    -fx-font-size: 130%;
}
.settings-and-commandbar .button:hover {
	-fx-background-color: rgba(255,255,255, 0.2);
}

.settings-and-commandbar .label {
    -fx-font-size: 130%;
    -fx-text-fill: white;
}
.app-bar-button {
  -fx-text-fill: -fx-base;
}
.app-bar-button:hover {
  -fx-background-color: -fx-control-inner-background;
  -fx-text-fill: black;
  -fx-fill: green;
}
.app-bar-button:hover .symbol-icon{
  -fx-fill: black;
}
.app-bar-toggle-button {
  -fx-background-color: transparent;
  -fx-text-fill: -fx-base;
}
.app-bar-toggle-button:hover {
  -fx-background-color: -fx-control-inner-background;
    -fx-text-fill: black;
}
.app-bar-toggle-button:selected {
  -fx-background-color: -fx-faint-focus-color;
    -fx-text-fill: white;
}
.app-bar-toggle-button:selected:hover {
  -fx-background-color: -fx-focus-color;
}
.app-bar-button .symbol-icon {
  -fx-fill: -fx-base;
}
.app-bar-toggle-button .symbol-icon{
  -fx-fill: -fx-base;
}

/*******************************
 * Dialog
 *******************************/
.dialog {
  -fx-background-image: url("../coriolis/Pattern2_Klein.png");
  -fx-background-color: black;
}
.dialog-outside {
	-fx-background-color: rgba(0,0,0,0);
	-fx-opacity: 0;
}
.dialog-line {
	-fx-background-color: rgba(0,0,0,0);
}

.dialog-content {
   -fx-background-color: #e2deda;
   -fx-spacing: 2em;
}


.dialog-right-spacing {
	-fx-background-image: url("../coriolis/Dialog_Right1px.png"), url("../coriolis/Dialog_Right.png");
  -fx-background-size: contain, contain;
  -fx-pref-width: 15em;
  -fx-background-position: center, center;
  -fx-background-repeat: repeat, no-repeat;
}

.dialog-left-spacing {
  -fx-background-image: url("../coriolis/Dialog_Left1px.png"), url("../coriolis/Dialog_Left.png");
  -fx-background-size: contain, contain;
  -fx-pref-width: 15em;
  -fx-background-position: center, center;
  -fx-background-repeat: repeat, no-repeat;
}

/*******************************
 * Other
 *******************************/

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-color: derive(#e2deda, -40%);
}

/*******************************
 * TableViews
 *******************************/
 .table-view {
    -fx-background-color: transparent;
}
.table-column:rowhover {
	-fx-background-color: derive(#e2deda, 20%);
}
.table-column:selected {
	-fx-background-color: -fx-darker;
}


.free-points {
  -fx-font-size: 200%;
}
.free-points .label{
  -fx-text-fill: -fx-base;
}
.free-points  .name {
  -fx-font-size: 60%;
}

.history-element {
    -fx-background-color: -fx-base;
}

.intensity-check-box .mark {
    -fx-shape: "M0,0 L10,0 L10,10 L0,10 Z";
}